<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67425296454-krqb2cq58hicl3vkmpjs5hb9ptsavukk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67425296454-krqb2cq58hicl3vkmpjs5hb9ptsavukk</string>
	<key>API_KEY</key>
	<string>AIzaSyCWIv4T9QPXusb-E6YH8r2RKaD6b7AJNDE</string>
	<key>GCM_SENDER_ID</key>
	<string>67425296454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ayanchat</string>
	<key>PROJECT_ID</key>
	<string>chatwizzi</string>
	<key>STORAGE_BUCKET</key>
	<string>chatwizzi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67425296454:ios:d73defa21bebf203572a47</string>
</dict>
</plist>